<h1>Hoang Restaurant</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <address>
        <strong> Hoang Restaurant</strong><br>
        <strong>72 Lê Thánh Tôn, Bến Nghé, Quận 1, Hồ Chí Minh</strong><br>
      </address>
    </div>
  </div>   
  <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.731662199227!2d106.7015847!3d10.7781174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ac4570b9f850ad9!2swww.cohibacigarettes.com!5e0!3m2!1sen!2s!4v1523549347300" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

