<h1>Welcome to Hoang Restaurant</h1>
<div class="jumbotron hero">
  <%= link_to "Menu" , 'menu', class: 'btn btn-secondary' %>
  <%= link_to "Contact Us" , 'contact_us', class: 'btn btn-secondary' %>
</div>